@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border border-b-[1px] border-transparent border-b-primaryColor py-3 px-2 outline-none focus-within:border-[1px] focus-within:border-primaryColor duration-100 bg-zinc-800;
  }
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}
.active {
  color: #64ffda;
}

.square {
  border: 1px solid red;
  height: 42px;
  width: 42px;
  transform: rotate(45deg);
}

.square p {
  font-size: 1.5rem;
  font-weight: bold;
  transform: rotate(-45deg);
}